<br>
<p>TinyApp allows you to create short links (URLs) that are short and simple, ideal for sharing with the world on social media!</p>
<p>Registering with TinyApp allowing you to save your sharable links in your account. You can also see how many times the links you've shared have been clicked.</p>