<h1>TinyApp</h1>

<a href="/urls">URLs |</a><a href="/urls/new">Create New TinyURL</a>
<form method="POST" action="/logout">
  <button type="submit" style="margin: 15px;" class="btn btn-success btn-sm">Logout</button>
  <p>Logged in as: <%= email %></p>
</form>

